In [1]:
import pandas as pd
import numpy as np
file_to_load = "Resources/purchase_data.csv"
purchase_data_df= pd.read_csv(file_to_load)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [2]:
Total_players = len(purchase_data_df["SN"].unique())
Total_players

576

In [3]:
Unique_total = len(purchase_data_df["Item ID"].unique())
Unique_total

179

In [4]:
avg_price = purchase_data_df["Price"].mean()
avg_price

3.050987179487176

In [5]:
Total_Rev = purchase_data_df["Price"].sum()
Total_Rev

2379.77

In [6]:
Purchase_total = purchase_data_df["Purchase ID"].count()
Purchase_total

780

In [7]:
sum_df = pd.DataFrame({"Number of Unique Items": [Unique_total],
                           "Average Price": [avg_price],
                           "Total Revenue": [Total_Rev],
                           "Number of Purchases": [Purchase_total]})
sum_df

   Number of Unique Items  Average Price  Total Revenue  Number of Purchases
0                     179       3.050987        2379.77                  780

In [8]:
Gen_dem= purchase_data_df.sort_values("Gender")
Gen_dem

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
119,119,Frichosia58,15,Female,87,"Deluge, Edge of the West",4.43
667,667,Inasuir29,40,Female,66,Victor Iron Spikes,4.40
666,666,Assilsan72,20,Female,82,Nirvana,4.90
134,134,Phyali88,15,Female,2,Verdict,2.48
658,658,Quilassa66,7,Female,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
...,...,...,...,...,...,...,...
629,629,Maluncil97,25,Other / Non-Disclosed,107,"Splitter, Foe Of Subtlety",2.18
350,350,Rairith81,15,Other / Non-Disclosed,34,Retribution Axe,2.22
637,637,Airi27,24,Other / Non-Disclosed,163,Thunderfury Scimitar,3.45
401,401,Lirtim36,15,Other / Non-Disclosed,46,Hopeless Ebon Dualblade,1.33
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40

In [9]:
gender_count = Gen_dem["Gender"].value_counts()
gender_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [10]:
gender_raw_percent = round((gender_count* 100/Purchase_total),2)
gender_raw_percent

Male                     83.59
Female                   14.49
Other / Non-Disclosed     1.92
Name: Gender, dtype: float64

In [11]:
gender_percent = gender_raw_percent.map("{0:.2f}%".format)
gender_percent

Male                     83.59%
Female                   14.49%
Other / Non-Disclosed     1.92%
Name: Gender, dtype: object

In [12]:
Gen_demi = pd.DataFrame({"Total Count": gender_count, "Percent of Players": gender_percent}, index= ["Male", "Female", "Other / Non-Disclosed"])

Gen_demi

                       Total Count Percent of Players
Male                           652             83.59%
Female                         113             14.49%
Other / Non-Disclosed           15              1.92%

In [13]:
age_bins = pd.cut(purchase_data_df['Age'],[0,10,15,20,25,30,35,40,100], labels=['>10','10-14','15-19','20-24','25-29','30-34','35-39','40+'])
age_bins.head()

0    15-19
1    35-39
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): ['>10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '40+']

In [14]:
age_count = age_bins.value_counts()
age_count

20-24    325
15-19    200
25-29     77
10-14     54
30-34     52
35-39     33
>10       32
40+        7
Name: Age, dtype: int64

In [15]:
age_raw_percent =  round((age_count* 100/Purchase_total),2)
age_raw_percent

20-24    41.67
15-19    25.64
25-29     9.87
10-14     6.92
30-34     6.67
35-39     4.23
>10       4.10
40+       0.90
Name: Age, dtype: float64

In [16]:
age_percent = age_raw_percent.map("{0:.2f}%".format)
age_percent

20-24    41.67%
15-19    25.64%
25-29     9.87%
10-14     6.92%
30-34     6.67%
35-39     4.23%
>10       4.10%
40+       0.90%
Name: Age, dtype: object

In [17]:
Age_demi = pd.DataFrame({"Total Count": age_count, "Percent of Players": age_percent}, index= ['>10','10-14','15-19','20-24','25-29','30-34','35-39','40+'])

Age_demi

       Total Count Percent of Players
>10             32              4.10%
10-14           54              6.92%
15-19          200             25.64%
20-24          325             41.67%
25-29           77              9.87%
30-34           52              6.67%
35-39           33              4.23%
40+              7              0.90%

In [18]:
age_bin= [0,10,15,20,25,30,35,40,100]
age_label= ['>10','10-14','15-19','20-24','25-29','30-34','35-39','40+']


purchase_data_df["Age Ranges"] = pd.cut(purchase_data_df["Age"], age_bin, labels=age_label)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,15-19
778,778,Sisur91,7,Male,92,Final Critic,4.19,>10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [29]:
purchase_total = purchase_data_df.groupby(["Age Ranges"]).sum()["Price"]
purchase_avg = purchase_data_df.groupby(["Age Ranges"]).mean()["Price"]
Purchase_count = purchase_data_df.groupby(["Age Ranges"]).count()["SN"]

print(purchase_total)
print(purchase_avg)
print(Purchase_count)

Age Ranges
>10      108.96
10-14    156.60
15-19    621.56
20-24    981.64
25-29    221.42
30-34    155.71
35-39    112.35
40+       21.53
Name: Price, dtype: float64
Age Ranges
>10      3.405000
10-14    2.900000
15-19    3.107800
20-24    3.020431
25-29    2.875584
30-34    2.994423
35-39    3.404545
40+      3.075714
Name: Price, dtype: float64
Age Ranges
>10       32
10-14     54
15-19    200
20-24    325
25-29     77
30-34     52
35-39     33
40+        7
Name: SN, dtype: int64

In [32]:
Age_purchase = pd.DataFrame({"Purchase Count": Purchase_count, "Average Purchase Price": purchase_avg, "Total Purchase Value": purchase_total}, index= ['>10','10-14','15-19','20-24','25-29','30-34','35-39','40+'])

Age_purchase

       Purchase Count  Average Purchase Price  Total Purchase Value
>10                32                3.405000                108.96
10-14              54                2.900000                156.60
15-19             200                3.107800                621.56
20-24             325                3.020431                981.64
25-29              77                2.875584                221.42
30-34              52                2.994423                155.71
35-39              33                3.404545                112.35
40+                 7                3.075714                 21.53